@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFDF9;
  color: #2D2D2D;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}